
<div class="orange block">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus quod velit ullam, fugiat molestiae quasi error enim temporibus neque nam eos sint incidunt omnis asperiores obcaecati odio aut dolore.</p>
</div>
<div class="blue block">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus quod velit ullam, fugiat molestiae quasi error enim temporibus neque nam eos sint incidunt omnis asperiores obcaecati odio aut dolore.</p>
</div>
<div class="orange">

</div>
