<div>
  <div class="orange block animate__animated animate__backInRight">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus quod velit ullam, fugiat molestiae quasi error enim temporibus neque nam eos sint incidunt omnis asperiores obcaecati odio aut dolore.</p>
  </div>
  <div class="blue block animate__animated animate__backInLeft">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus quod velit ullam, fugiat molestiae quasi error enim temporibus neque nam eos sint incidunt omnis asperiores obcaecati odio aut dolore.</p>
  </div>
</div>
<div>
  <div class="blocks">
    <div class="orange-block animate__animated animate__backInLeft  ">
      <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Quas et, tenetur sunt velit doloribus pariatur dicta aperiam nam eum nostrum tempore corrupti, necessitatibus magni odio, dolorum molestiae, quaerat qui consequatur.</p>
    </div>
    <div class="blue-block animate__animated animate__backInRight">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, ex sapiente corporis tempore voluptatem beatae ipsa, ullam hic atque earum sint ad libero, recusandae natus soluta cum magni suscipit, porro.</p>
    </div>
  </div>
</div>
